In [16]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib as mb
import matplotlib.pyplot as plt

In [17]:
crash_data = pd.read_csv('train-new.csv')

In [18]:
crash_data.head()

,dvcat,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid,injSeverity
0,55+,53.342,dead,airbag,belted,1,f,48,2002,1997,deploy,driver,1,45:150:1,3
1,25-39,154.960,alive,none,none,1,m,26,2001,1968,unavail,driver,0,76:40:1,3
2,55+,38.994,alive,none,none,1,f,51,2002,1994,unavail,driver,0,11:184:1,3
3,25-39,168.568,alive,airbag,belted,1,m,27,1998,1996,deploy,pass,1,9:17:1,3
4,10-24,27.751,alive,airbag,belted,0,m,26,2002,1997,nodeploy,pass,0,2:2:2,0

In [19]:
crash_data.tail()

,dvcat,weight,dead,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid,injSeverity
17560,10-24,131.491,alive,airbag,belted,0,m,28,2002,1997,deploy,driver,1,2:106:1,0
17561,10-24,281.693,alive,none,belted,1,f,39,1998,1987,unavail,driver,0,12:118:1,1
17562,10-24,419.418,alive,airbag,belted,1,f,29,1997,1988,deploy,driver,1,9:37:2,3
17563,40-54,9.815,alive,none,none,1,f,22,2000,1990,unavail,driver,0,49:112:2,3
17564,10-24,1395.602,alive,none,belted,1,m,19,2002,1987,unavail,pass,0,43:159:2,0

In [20]:
crash_data[crash_data['dead'].isnull()]

Empty DataFrame
Columns: [dvcat, weight, dead, airbag, seatbelt, frontal, sex, ageOFocc, yearacc, yearVeh, abcat, occRole, deploy, caseid, injSeverity]
Index: []

In [21]:
crash_data.isna().sum()

dvcat          0
weight         0
dead           0
airbag         0
seatbelt       0
frontal        0
sex            0
ageOFocc       0
yearacc        0
yearVeh        0
abcat          0
occRole        0
deploy         0
caseid         0
injSeverity    0
dtype: int64

In [22]:
columns_to_drop = ['dvcat', 'weight', 'sex', 'abcat', 'caseid']
crash_data = crash_data.drop(columns_to_drop, axis=1, inplace=True) #Column 1, dvcat, abcat, gender, weigt Is Not Usefull to the research being conducted and we do now know what they represent
crash_data.head(1)

AttributeError: 'NoneType' object has no attribute 'head'